In [1]:
from rbc.mapd import RemoteMapD
import ibis

In [2]:
mapd = RemoteMapD()  # RemoteMapD(user=, password=, host=, port=, dbname=)
mapd_ibis = ibis.mapd.connect(user=mapd.user, password=mapd.password,
                              host=mapd.host, port=mapd.port, database=mapd.dbname)

In [3]:
mapd.sql_execute('drop table if exists mytable')
mapd.sql_execute('create table if not exists mytable (x FLOAT, y DOUBLE, i INT, j BIGINT);');
for i in range(5):
    mapd.sql_execute('insert into mytable values '+str((i,)*4));

In [4]:
@mapd('i(i)')
def incr(x):
    return x + 1
mapd.register()

In [5]:
t = mapd_ibis.sql('select i, incr(i) from mytable')

In [6]:
expr = t[t.i < 3]

In [7]:
print(expr.compile())

SELECT *
FROM (
  select i, incr(i) from mytable
) t0
WHERE "i" < 3

In [8]:
expr.execute()

   i  EXPR$1
0  0       1
1  1       2
2  2       3